In [1]:
def format_dataframe(df):
    
    def auto_format(number):
        if isinstance(number, (int, float)):
            if abs(number) >= 1000 or (abs(number) < 0.001 and number != 0):
                return f"{number:.3e}"  # Экспоненциальный формат
            else:
                return f"{number:.3f}"  # Обычный формат
        return str(number)  # Если это не число, оставляем как есть
    
    return df.applymap(auto_format)

In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from tabulate import tabulate
from IPython.display import display

tm = 0.196 
F = 30

df1 = pd.DataFrame({})

df1["Названия"] =  ["н-гексан", "н-гептан", "н-октан", "н-декан"]
df1["tR1"] = [0.458, 0.748, 1.396, 5.896]
df1["tR2"] = df1.tR1 - tm 
df1["VR1"]  = F * df1.tR1
df1["VR2"] = F * df1.tR2
df1["k"] = (df1.tR1 - tm) / tm

#print(tabulate(df1, tablefmt = "github"), floatfmt = ".2f")

display(df1)

print(tabulate(format_dataframe(df1),
              tablefmt = "github",
              headers = ["Углеводороды", "$t_R$, мин", "$t_R'$, мин",
                         "$V_R$, мл", "$V_R'$, мл", "$k'$"]))

   Названия    tR1    tR2     VR1     VR2          k
0  н-гексан  0.458  0.262   13.74    7.86   1.336735
1  н-гептан  0.748  0.552   22.44   16.56   2.816327
2   н-октан  1.396  1.200   41.88   36.00   6.122449
3   н-декан  5.896  5.700  176.88  171.00  29.081633

|    | Углеводороды   |   $t_R$, мин |   $t_R'$, мин |   $V_R$, мл |   $V_R'$, мл |   $k'$ |
|----|----------------|--------------|---------------|-------------|--------------|--------|
|  0 | н-гексан       |        0.458 |         0.262 |       13.74 |         7.86 |  1.337 |
|  1 | н-гептан       |        0.748 |         0.552 |       22.44 |        16.56 |  2.816 |
|  2 | н-октан        |        1.396 |         1.2   |       41.88 |        36    |  6.122 |
|  3 | н-декан        |        5.896 |         5.7   |      176.88 |       171    | 29.082 |

/tmp/ipykernel_5386/4223130978.py:11: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  return df.applymap(auto_format)

In [12]:
df2 = pd.DataFrame({})

L = 1 #м

df2["Названия"] =  ["УВ1", "УВ2", "УВ3"]
df2["tR1"] = [0.746, 1.386, 5.816]

df2["tR2"] = df2.tR1 - tm 
df2["VR1"]  = F * df2.tR1
df2["VR2"] = F * df2.tR2
df2["k"] = (df2.tR1 - tm) / tm
df2["W"] = [0.9-0.61, 1.65 - 1.15, 6.65 - 4.95] 
df2["N"] = 16 * (df2.tR2 / df2.W)**2
df2["H"] = L*1000 / df2.N 


display(df2)
print(tabulate(format_dataframe(df2),
              tablefmt = "github",
              headers = ["Углеводороды", "$t_R$, мин", "$t_R'$, мин",
                         "$V_R$, мл", "$V_R'$, мл", "$k'$",
                         "$w$, мин", "$N$", "$H$, мм"]))

  Названия    tR1   tR2     VR1    VR2         k     W           N          H
0      УВ1  0.746  0.55   22.38   16.5  0.262735  0.29   57.550535  17.376033
1      УВ2  1.386  1.19   41.58   35.7  0.141414  0.50   90.630400  11.033825
2      УВ3  5.816  5.62  174.48  168.6  0.033700  1.70  174.861730   5.718804

|    | Углеводороды   |   $t_R$, мин |   $t_R'$, мин |   $V_R$, мл |   $V_R'$, мл |   $k'$ |   $w$, мин |     $N$ |   $H$, мм |
|----|----------------|--------------|---------------|-------------|--------------|--------|------------|---------|-----------|
|  0 | УВ1            |        0.746 |          0.55 |       22.38 |         16.5 |  0.263 |       0.29 |  57.551 |    17.376 |
|  1 | УВ2            |        1.386 |          1.19 |       41.58 |         35.7 |  0.141 |       0.5  |  90.63  |    11.034 |
|  2 | УВ3            |        5.816 |          5.62 |      174.48 |        168.6 |  0.034 |       1.7  | 174.862 |     5.719 |

/tmp/ipykernel_4349/4223130978.py:11: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  return df.applymap(auto_format)