In [16]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from IPython.display import display

tm = 1.285
L = 1

df = pd.DataFrame({})

df["names"] = ["$\ce{F^-}$", "$\ce{Cl^-}$", "$\ce{NO2^-}$", "$\ce{Br^-}$", 
               "$\ce{NO3^-}$", "$\ce{HPO4^2-}$", "$\ce{SO4^2-}$"]
df["tR1"]   = [2.3,3.853,5.873, 7.493, 11.157, 14.087, 18.227]
df["tR2"]   = df.tR1 - tm
df["k"] = (df.tR1 - tm) / tm
df["W"] = [0.46, 0.71, 0.93, 1.76, 1.59, 1.97, 2.89] 
df["N"] = 16 * (df.tR2 / df.W)**2
#df["H"] = L*1000 / df.N 


display(df)
from tabulate import tabulate

def format_dataframe(df):
    
    def auto_format(number):
        if isinstance(number, (int, float)):
            if abs(number) >= 1000 or (abs(number) < 0.001 and number != 0):
                return f"{number:.3e}"  # Экспоненциальный формат
            else:
                return f"{number:.3f}"  # Обычный формат
        return str(number)  # Если это не число, оставляем как есть
    
    return df.applymap(auto_format)

print(tabulate(format_dataframe(df),
              tablefmt = "github",
              headers = ["Ионы", "$t_{R_1}$","$t_{R_2}$","k", "W", "N"]))

<>:11: SyntaxWarning: invalid escape sequence '\c'
<>:11: SyntaxWarning: invalid escape sequence '\c'
<>:11: SyntaxWarning: invalid escape sequence '\c'
<>:11: SyntaxWarning: invalid escape sequence '\c'
<>:12: SyntaxWarning: invalid escape sequence '\c'
<>:12: SyntaxWarning: invalid escape sequence '\c'
<>:12: SyntaxWarning: invalid escape sequence '\c'
<>:11: SyntaxWarning: invalid escape sequence '\c'
<>:11: SyntaxWarning: invalid escape sequence '\c'
<>:11: SyntaxWarning: invalid escape sequence '\c'
<>:11: SyntaxWarning: invalid escape sequence '\c'
<>:12: SyntaxWarning: invalid escape sequence '\c'
<>:12: SyntaxWarning: invalid escape sequence '\c'
<>:12: SyntaxWarning: invalid escape sequence '\c'
/tmp/ipykernel_4295/109453621.py:11: SyntaxWarning: invalid escape sequence '\c'
  df["names"] = ["$\ce{F^-}$", "$\ce{Cl^-}$", "$\ce{NO2^-}$", "$\ce{Br^-}$",
/tmp/ipykernel_4295/109453621.py:11: SyntaxWarning: invalid escape sequence '\c'
  df["names"] = ["$\ce{F^-}$", "$\ce{Cl^-}$", "$\ce{NO2^-}$", "$\ce{Br^-}$",
/tmp/ipykernel_4295/109453621.py:11: SyntaxWarning: invalid escape sequence '\c'
  df["names"] = ["$\ce{F^-}$", "$\ce{Cl^-}$", "$\ce{NO2^-}$", "$\ce{Br^-}$",
/tmp/ipykernel_4295/109453621.py:11: SyntaxWarning: invalid escape sequence '\c'
  df["names"] = ["$\ce{F^-}$", "$\ce{Cl^-}$", "$\ce{NO2^-}$", "$\ce{Br^-}$",
/tmp/ipykernel_4295/109453621.py:12: SyntaxWarning: invalid escape sequence '\c'
  "$\ce{NO3^-}$", "$\ce{HPO4^2-}$", "$\ce{SO4^2-}$"]
/tmp/ipykernel_4295/109453621.py:12: SyntaxWarning: invalid escape sequence '\c'
  "$\ce{NO3^-}$", "$\ce{HPO4^2-}$", "$\ce{SO4^2-}$"]
/tmp/ipykernel_4295/109453621.py:12: SyntaxWarning: invalid escape sequence '\c'
  "$\ce{NO3^-}$", "$\ce{HPO4^2-}$", "$\ce{SO4^2-}$"]

            names     tR1     tR2          k     W           N
0      $\ce{F^-}$   2.300   1.015   0.789883  0.46   77.899811
1     $\ce{Cl^-}$   3.853   2.568   1.998444  0.71  209.311613
2    $\ce{NO2^-}$   5.873   4.588   3.570428  0.93  389.404444
3     $\ce{Br^-}$   7.493   6.208   4.831128  1.76  199.066446
4    $\ce{NO3^-}$  11.157   9.872   7.682490  1.59  616.788159
5  $\ce{HPO4^2-}$  14.087  12.802   9.962646  1.97  675.683286
6   $\ce{SO4^2-}$  18.227  16.942  13.184436  2.89  549.861930

|    | Ионы           |   $t_{R_1}$ |   $t_{R_2}$ |      k |    W |       N |
|----|----------------|-------------|-------------|--------|------|---------|
|  0 | $\ce{F^-}$     |       2.3   |       1.015 |  0.79  | 0.46 |  77.9   |
|  1 | $\ce{Cl^-}$    |       3.853 |       2.568 |  1.998 | 0.71 | 209.312 |
|  2 | $\ce{NO2^-}$   |       5.873 |       4.588 |  3.57  | 0.93 | 389.404 |
|  3 | $\ce{Br^-}$    |       7.493 |       6.208 |  4.831 | 1.76 | 199.066 |
|  4 | $\ce{NO3^-}$   |      11.157 |       9.872 |  7.682 | 1.59 | 616.788 |
|  5 | $\ce{HPO4^2-}$ |      14.087 |      12.802 |  9.963 | 1.97 | 675.683 |
|  6 | $\ce{SO4^2-}$  |      18.227 |      16.942 | 13.184 | 2.89 | 549.862 |

/tmp/ipykernel_4295/109453621.py:34: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  return df.applymap(auto_format)